* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}

body {
   /** background-image: url("images/back.jpg"); **/
    background-repeat: no-repeat;
    background-position: top center;
}

h2 { 
    color: #e5e6ea;
}

.color {
    background-color: #5b687A;
    height: 434px;
}

.head {
    height: auto;
}

.logo {
    width: 960px;
    margin: auto;
    margin-top: 20px;
}

.left img {
    padding: 10px;
}

.head h1 {
    padding: 20px 0 5px 20px;
    font-size: 2em;
}

.head p {
    padding-left: 20px;
    font-size: 1em;
}

.video {
    text-align: center;
    height: 300px;
    width: 100%;
}

.video p {
    padding-bottom: 70px;
}

a { 
    color: #70b7d2;
}

a:hover {
    color: #cedde2;
    -webkit-transition: .5s;
}

iframe {
    margin: 20px;
    margin-top: 20px;
}

.content {
    width: 100%;
    text-align: center;
}

.content h1 {
    display: flex;
    background: #4b4b4b;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
}

.gallery {
    width: 100%;
    background: #e9e9e9;
    height: auto;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.img {
    width: 100%;
    max-width: 1500px;
    display: inline-block;
    justify-content(space-between);
    height: auto;
    text-align: center;
    margin: auto;
}

.img img {
    width: 350px;
    padding: 30px;
    display: inline-block;
}

a {
    text-decoration: none;
}


footer {
  height: 220px;
  background-color: #5b687A;
  display: block;
}

.footer p { 
  text-align: right;
  padding: 100px 30px 100px 40px;
}
